@mixin hooveranimation {
  color: getColor('project-color-blue');
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: getColor('project-color-blue');
  box-shadow: 0px 4px 4px getColor('button-shadow1');
  border-radius: 4px;
  cursor: pointer;
  border-style: none;
  color: getColor('project-color-white');
  margin-top: 30px;
  width: 200px;
  height: 50px;
  text-align: center;
}
