$contactWays: tel, mail;

%animation3 {
  fill: getColor('project-color-blue');
  border-color: getColor('project-color-blue');
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-foot {
  background-color: getColor('footer-backgroud-dark');
  min-height: 252px;
  text-align: center;

  &__container {
    padding-top: 60px;
  }
  &__contact {
    margin-bottom: 60px;
  }
}

.address {
  margin-top: 20px;
  &__street {
    color: getColor('project-color-white');
  }

  &__list {
    list-style: none;
    margin-top: 8px;
    padding-left: 0%;
    &:nth-child(1) {
      margin-bottom: 8px;
    }
  }
}

@each $contactWay in $contactWays {
  $i: index($contactWays, $contactWay);
  .address__#{$contactWay} {
    line-height: 1.71;
    color: getColor('tel-mail-footer');
  }
}

.page-footer__logo {
  color: getColor('project-color-white');
}

.follow {
  margin-bottom: 60px;
  &__title {
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: getColor('project-color-white');
  }
  .social-link--footer {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .social-link--white {
    fill: #fff;
  }
}
.sub {
  &__title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: getColor('project-color-white');
    margin-bottom: 20px;
  }

  &__input {
    outline: none;
    appearance: none;
    max-width: 358px;

    min-width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 14px 15px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background: initial;
  }
}
.btn-subs {
  margin-top: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  border: none;
  border-radius: 4px;
  color: getColor('project-color-white');
  cursor: pointer;
  background: getColor('project-color-blue');
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  &__icon {
    fill: getColor('project-color-white');
    display: block;
    width: 24px;
    height: 24px;
  }
  &__input {
    width: 358px;
  }
}

@media screen and (min-width: 768px) {
  .page-foot {
    background-color: getColor('footer-backgroud-dark');
    min-height: 252px;

    &__container {
      padding-top: 60px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 60px 144px;
    }
  }
  .sub {
    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
// desktop
@media screen and (min-width: 1200px) {
  .page-foot {
    text-align: left;
    justify-content: space-between;

    align-items: flex-start;
    background-color: getColor('footer-backgroud-dark');
    min-height: 252px;

    &__container {
      justify-content: space-between;
      flex-wrap: nowrap;
      gap: 70px;
      align-items: flex-start;
    }
  }

  .address {
    &__list {
      list-style: none;
      margin-top: 9px;
      padding-left: 0%;
      margin-bottom: 9px;
    }
    &__item {
      margin-bottom: 9px;
      margin-top: 0px;
    }
  }

  .follow {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .sub {
    &__form {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
    }
    &__input {
      width: 358px;
    }
  }
  .btn-subs {
    margin: 0 auto;
  }
}
