.portfolio {
  &__container {
    padding-top: 0px;
  }
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
  }
  &__img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: auto;
  }
  &__item {
    min-width: calc(100% / 1 - 2 * 15px);
    outline: 1px solid getColor('portfolio-pictures-border');
    box-shadow: none;
    @include hooveranimation;
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
      cursor: pointer;
      @include hooveranimation;

      .portfolio__foreground {
        transform: translateY(0%);
        @include hooveranimation;
      }
    }
  }
  &__description {
    padding: 20px 24px;
  }
  &__picture {
    object-fit: cover;
    display: block;
    width: 100%;
  }
  &__set {
    position: relative;
    overflow: hidden;
  }
  &__foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    top: 0;
    left: 0;
    transform: translateY(+100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__hovertext {
    display: block;
    padding: 49px 45px 49px 24px;
    font-size: 18px;
    line-height: 1.56;

    color: getColor('project-color-white');
  }
}

.portfolio-photo-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: getColor('project-color-dark');
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: getColor('project-color-gray');
}

// mobile
@media screen and (max-width: 420px) {
  .portfolio {
    &__item {
      min-width: calc(100% / 1 - 2 * 15px);
    }
    &__img {
      // width: calc(100% - 30px);
      height: auto;
      object-fit: cover;
    }
    &__list {
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      gap: 30px 30px;
    }
    &__hovertext {
      font-size: calc(100vw / 26);
      line-height: 1.56;
      padding: 10vw 9vw 10vw 5vw;
      color: getColor('project-color-white');
    }
    & picture {
      max-width: 100%;
    }
  }
}

// tablet
@media screen and (min-width: 768px) {
  .portfolio {
    &__item {
      min-width: calc(100% / 2 - 2 * 15px);
    }
    &__img {
      max-width: 100%;
    }
    &__list {
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      gap: 30px 30px;
    }
    &__hovertext {
      font-size: 18px;
      line-height: 1.56;
      padding: 49px 45px 49px 24px;
      color: getColor('project-color-white');
    }
    & picture {
      max-width: 100%;
    }
  }
}
// desktop
@media screen and (min-width: 1200px) {
  .portfolio {
    &__item {
      min-width: calc(100% / 3 - 2 * 15px - (2 * 30px));
    }
  }
}
