.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: getColor('project-color-blue');
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}
@media screen and (max-width: 480px) {
  img {
    width: calc(100% / 1 - 2 * 15px);
    height: auto;
  }
}
